.btns {
        background-color: aqua;
        width: 100px;
        height: 100px;
        margin: 10px;
        border-radius: 50%;
    }

    #green {
        background-color: green;
    }

    #red {
        background-color: red;
    }

    #yellow {
        background-color: yellow;
    }

    #orange {
        background-color: orange;

    }

    #black {
        background-color: black;
    }

    #blue {
        background-color: blue;
    }

    #brown {
        background-color: brown;
    }

    #pink {
        background-color: pink;
    }
